@import "tailwindcss";

body {
    background-image: url(../public/backgroun_rectangle.png);
    background-repeat: no-repeat;
}
.ant-btn {
    background-color: #6200EE;
    padding: 20px !important;
    width: 100%;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
}
.ant-form-item-label {
    padding-bottom: 4px !important;
}
.ant-form-item-requiered {
    font-size: 14px;
    font-weight: 700 !important;
    color: #151515 !important;
}
.username_label {
    margin-bottom: 36px !important;
}
.password_label {
    margin-bottom: 56px !important;
}
.ant-input {
    padding: 14px 16px !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    color: #151515;
    border-radius: 6px !important;
}
.add__btn {
    border: none !important;
    width: auto ;
}
.close_btn {
    background-color: #fff !important;
    color: #6200EE !important;
    border: 1px solid #6200EE ;
}